.elementor-684 .elementor-element.elementor-element-ac9ac3d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-flip-box__front {
    background-color: transparent;
    background-image: linear-gradient(180deg, #41D8F7 0%, #295DF2 100%);
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-flip-box__back {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FF0000 0%, #165657 100%);
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-flip-box__layer,
.elementor-684 .elementor-element.elementor-element-beec577 .elementor-flip-box__layer__overlay {
    border-radius: 20px;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-view-stacked .elementor-icon {
    background-color: #1500FF;
    color: #FFFFFFE6;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-view-stacked .elementor-icon svg {
    stroke: #1500FF;
    fill: #FFFFFFE6;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-view-framed .elementor-icon,
.elementor-684 .elementor-element.elementor-element-beec577 .elementor-view-default .elementor-icon {
    color: #1500FF;
    border-color: #1500FF;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-view-framed .elementor-icon svg,
.elementor-684 .elementor-element.elementor-element-beec577 .elementor-view-default .elementor-icon svg {
    fill: #1500FF;
    border-color: #1500FF;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-view-framed .elementor-icon {
    background-color: #FFFFFFE6;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-view-framed .elementor-icon svg {
    stroke: #FFFFFFE6;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-icon i {
    transform: rotate(313deg);
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-icon svg {
    transform: rotate(313deg);
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-flip-box__button {
    margin-center: 0;
    background-color: transparent;
    background-image: linear-gradient(180deg, #966767 0%, #352CD8 100%);
    border-color: #999999;
    border-radius: 32px;
}

.elementor-684 .elementor-element.elementor-element-beec577 .elementor-flip-box__button:hover {
    background-color: transparent;
    background-image: linear-gradient(180deg, #E8A7A7 0%, #F50303 100%);
}